.formList{
    margin-top: 40px;
}
.dialogButtonsContainer{
    display: flex;
    flex-direction: row;
    margin: 0px auto 10px;
    justify-content: center;
}
.amountButton{
    width: fit-content;
    margin: 0px 5px;
}
.checkboxes{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}